Repository engels74/tgraph-bot-source: changes, and which pre-commit hooks are due for each by the changed paths.
All: extract-strings, update-translations

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: extract-strings
        name: Extract translatable strings
        entry: sh -c 'if git diff --cached --name-only | grep -E "\.(py)$" | grep -v __pycache__ | grep -v tests/; then uv run python scripts/i18n/extract_strings.py && git add locale/messages.pot; fi'
        language: system
        always_run: false
        files: '\.py$'
        exclude: '^(tests/|__pycache__/)'
      
      - id: update-translations
        name: Update translation files
        entry: sh -c 'if git diff --cached --name-only | grep -q "locale/messages.pot"; then uv run python scripts/i18n/update_translations.py && uv run python scripts/i18n/compile_translations.py && git add locale/; fi'
        language: system
        always_run: false
        files: 'locale/messages\.pot$'

chore(deps): bump ruff from 0.12.3 to 0.12.4 in dev dependencies
  pyproject.toml
  uv.lock
Due: none

feat(graphs): add robust dimension parsing and typed dictionary for graph dimensions
  src/tgraph_bot/graphs/graph_modules/graph_factory.py
  tests/unit/graphs/graph_modules/test_graph_factory_dimensions.py
  tests/unit/graphs/graph_modules/test_graph_instances_dimensions.py
Due: extract-strings

test(tasks): replace direct datetime.now usage with get_local_now helper
  tests/integration/test_background_task_management.py
Due: none

chore(locale): sync translation files and update line numbers
  locale/da/LC_MESSAGES/messages.po
  locale/en/LC_MESSAGES/messages.po
  locale/messages.pot
Due: update-translations

refactor(base_graph): implement common graph utility methods
  src/tgraph_bot/graphs/graph_modules/base_graph.py
  tests/unit/graphs/graph_modules/test_base_graph.py
Due: extract-strings

feat(data-processing): introduce DataProcessor module
  src/tgraph_bot/graphs/graph_modules/data_processor.py
  tests/unit/graphs/graph_modules/test_data_processor.py
Due: extract-strings

feat(visualization): add shared visualization mixin
  src/tgraph_bot/graphs/graph_modules/visualization_mixin.py
  tests/unit/graphs/graph_modules/test_visualization_mixin.py
Due: extract-strings

refactor(graphs): integrate visualization mixin and data processor
  src/tgraph_bot/graphs/graph_modules/sample_graph.py
  src/tgraph_bot/graphs/graph_modules/tautulli_graphs/daily_play_count_graph.py
  src/tgraph_bot/graphs/graph_modules/tautulli_graphs/play_count_by_dayofweek_graph.py
Due: extract-strings

refactor(graphs): centralize graph generation logic and add tests
  src/tgraph_bot/graphs/graph_modules/tautulli_graphs/play_count_by_hourofday_graph.py
  tests/unit/graphs/graph_modules/test_play_count_by_hourofday_graph.py
Due: extract-strings

refactor(graphs): centralize graph styling and data processing
  src/tgraph_bot/graphs/graph_modules/tautulli_graphs/play_count_by_month_graph.py
Due: extract-strings

refactor(graphs): integrate VisualizationMixin and DataProcessor
  src/tgraph_bot/graphs/graph_modules/tautulli_graphs/top_10_platforms_graph.py
  src/tgraph_bot/graphs/graph_modules/tautulli_graphs/top_10_users_graph.py
Due: extract-strings

refactor(graphs): centralize config access and graph type registration
  src/tgraph_bot/graphs/graph_modules/config_accessor.py
  src/tgraph_bot/graphs/graph_modules/graph_factory.py
  src/tgraph_bot/graphs/graph_modules/graph_type_registry.py
  tests/unit/graphs/graph_modules/test_config_accessor.py
  tests/unit/graphs/graph_modules/test_graph_factory_dimensions.py
  tests/unit/graphs/graph_modules/test_graph_type_registry.py
Due: extract-strings

feat: introduce empty data handler for graphs
  src/tgraph_bot/graphs/graph_modules/empty_data_handler.py
  src/tgraph_bot/graphs/graph_modules/tautulli_graphs/daily_play_count_graph.py
  src/tgraph_bot/graphs/graph_modules/tautulli_graphs/play_count_by_dayofweek_graph.py
  src/tgraph_bot/graphs/graph_modules/tautulli_graphs/play_count_by_month_graph.py
  tests/unit/graphs/graph_modules/test_empty_data_handler.py
Due: extract-strings

feat: centralize graph annotation logic
  src/tgraph_bot/graphs/graph_modules/annotation_helper.py
  src/tgraph_bot/graphs/graph_modules/tautulli_graphs/daily_play_count_graph.py
  src/tgraph_bot/graphs/graph_modules/tautulli_graphs/play_count_by_dayofweek_graph.py
  src/tgraph_bot/graphs/graph_modules/tautulli_graphs/play_count_by_hourofday_graph.py
  src/tgraph_bot/graphs/graph_modules/tautulli_graphs/play_count_by_month_graph.py
  src/tgraph_bot/graphs/graph_modules/tautulli_graphs/top_10_platforms_graph.py
  tests/unit/graphs/graph_modules/test_annotation_helper.py
Due: extract-strings

refactor(graph): Centralize configuration access with ConfigAccessor
  src/tgraph_bot/graphs/graph_modules/base_graph.py
Due: extract-strings

feat(graphs): introduce graph-specific error hierarchy
  src/tgraph_bot/graphs/graph_modules/graph_errors.py
  tests/unit/graphs/graph_modules/test_graph_errors.py
Due: extract-strings

refactor(graphs): centralize media type handling with MediaTypeProcessor
  src/tgraph_bot/graphs/graph_modules/base_graph.py
  src/tgraph_bot/graphs/graph_modules/media_type_processor.py
  src/tgraph_bot/graphs/graph_modules/utils.py
  tests/unit/graphs/graph_modules/test_media_type_processor.py
Due: extract-strings

feat(constants): introduce graph module constants
  src/tgraph_bot/graphs/graph_modules/constants.py
  tests/unit/graphs/graph_modules/test_constants.py
Due: extract-strings

refactor: unify graph styling utilities
  src/tgraph_bot/graphs/graph_modules/annotation_helper.py
  src/tgraph_bot/graphs/graph_modules/base_graph.py
  src/tgraph_bot/graphs/graph_modules/config_accessor.py
  src/tgraph_bot/graphs/graph_modules/constants.py
  src/tgraph_bot/graphs/graph_modules/data_fetcher.py
  src/tgraph_bot/graphs/graph_modules/data_processor.py
  src/tgraph_bot/graphs/graph_modules/empty_data_handler.py
  src/tgraph_bot/graphs/graph_modules/graph_errors.py
  src/tgraph_bot/graphs/graph_modules/graph_factory.py
  src/tgraph_bot/graphs/graph_modules/graph_type_registry.py
  src/tgraph_bot/graphs/graph_modules/media_type_processor.py
  src/tgraph_bot/graphs/graph_modules/sample_graph.py
  src/tgraph_bot/graphs/graph_modules/tautulli_graphs/daily_play_count_graph.py
  src/tgraph_bot/graphs/graph_modules/tautulli_graphs/play_count_by_dayofweek_graph.py
  src/tgraph_bot/graphs/graph_modules/tautulli_graphs/play_count_by_hourofday_graph.py
  src/tgraph_bot/graphs/graph_modules/tautulli_graphs/play_count_by_month_graph.py
  src/tgraph_bot/graphs/graph_modules/tautulli_graphs/top_10_platforms_graph.py
  src/tgraph_bot/graphs/graph_modules/tautulli_graphs/top_10_users_graph.py
  src/tgraph_bot/graphs/graph_modules/utils.py
  src/tgraph_bot/graphs/graph_modules/visualization_mixin.py
Due: extract-strings

refactor(graphs): centralize and unify progress tracking
  src/tgraph_bot/graphs/graph_manager.py
  src/tgraph_bot/graphs/graph_modules/progress_tracker.py
  src/tgraph_bot/graphs/user_graph_manager.py
  src/tgraph_bot/utils/discord/progress_utils.py
  tests/integration/test_enhanced_error_handling.py
  tests/unit/graphs/graph_modules/test_progress_tracker.py
Due: extract-strings

refactor(tests): Consolidate graph test utilities
  tests/unit/graphs/graph_modules/test_graph_factory_dimensions.py
  tests/unit/graphs/graph_modules/test_graph_instances_dimensions.py
  tests/unit/graphs/graph_modules/test_play_count_by_dayofweek_graph.py
  tests/unit/graphs/graph_modules/test_play_count_by_hourofday_graph.py
  tests/unit/graphs/graph_modules/test_play_count_by_month_graph.py
  tests/utils/graph_helpers.py
Due: none

test(graph): add comprehensive unit tests for BaseGraph and Factory
  tests/unit/graphs/graph_modules/test_base_graph.py
  tests/unit/graphs/graph_modules/test_graph_factory.py
  tests/unit/graphs/graph_modules/test_utils.py
Due: none

refactor(testing): improve graph customization and architecture tests
  tests/integration/test_graph_customization_validation.py
  tests/integration/test_graph_manager_architecture.py
  tests/integration/test_non_blocking_graph_generation.py
  tests/unit/graphs/graph_modules/test_configuration_validation.py
  tests/unit/graphs/graph_modules/test_generic_graph_patterns.py
  tests/unit/graphs/graph_modules/test_performance_regression.py
Due: none

refactor(graphs): reorganize graph modules into subpackages
  src/tgraph_bot/graphs/graph_modules/__init__.py
  src/tgraph_bot/graphs/graph_modules/config/__init__.py
  src/tgraph_bot/graphs/graph_modules/config/config_accessor.py
  src/tgraph_bot/graphs/graph_modules/core/__init__.py
  src/tgraph_bot/graphs/graph_modules/core/base_graph.py
  src/tgraph_bot/graphs/graph_modules/core/graph_errors.py
  src/tgraph_bot/graphs/graph_modules/core/graph_factory.py
  src/tgraph_bot/graphs/graph_modules/core/graph_type_registry.py
  src/tgraph_bot/graphs/graph_modules/data_fetcher.py
  src/tgraph_bot/graphs/graph_modules/data_processor.py
  src/tgraph_bot/graphs/graph_modules/empty_data_handler.py
  src/tgraph_bot/graphs/graph_modules/implementations/__init__.py
  src/tgraph_bot/graphs/graph_modules/implementations/sample_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/__init__.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/daily_play_count_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_dayofweek_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_hourofday_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_month_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/top_10_platforms_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/top_10_users_graph.py
  src/tgraph_bot/graphs/graph_modules/media_type_processor.py
  src/tgraph_bot/graphs/graph_modules/types/__init__.py
  src/tgraph_bot/graphs/graph_modules/types/constants.py
  src/tgraph_bot/graphs/graph_modules/utils/__init__.py
  src/tgraph_bot/graphs/graph_modules/utils/annotation_helper.py
  src/tgraph_bot/graphs/graph_modules/utils/progress_tracker.py
  src/tgraph_bot/graphs/graph_modules/utils/utils.py
  src/tgraph_bot/graphs/graph_modules/visualization/__init__.py
  src/tgraph_bot/graphs/graph_modules/visualization/visualization_mixin.py
  tests/unit/graphs/graph_modules/test_base_graph.py
  tests/unit/graphs/graph_modules/test_constants.py
Due: extract-strings

refactor(graphs): reorganize graph modules for clarity and maintainability
  src/tgraph_bot/graphs/graph_manager.py
  src/tgraph_bot/graphs/user_graph_manager.py
  tests/integration/test_enhanced_error_handling.py
  tests/integration/test_graph_customization_validation.py
  tests/integration/test_memory_management.py
  tests/integration/test_non_blocking_graph_generation.py
  tests/unit/graphs/graph_modules/test_annotation_helper.py
  tests/unit/graphs/graph_modules/test_base_graph.py
  tests/unit/graphs/graph_modules/test_config_accessor.py
  tests/unit/graphs/graph_modules/test_configuration_validation.py
  tests/unit/graphs/graph_modules/test_data_fetcher.py
  tests/unit/graphs/graph_modules/test_data_processor.py
  tests/unit/graphs/graph_modules/test_empty_data_handler.py
  tests/unit/graphs/graph_modules/test_generic_graph_patterns.py
  tests/unit/graphs/graph_modules/test_graph_errors.py
  tests/unit/graphs/graph_modules/test_graph_factory.py
  tests/unit/graphs/graph_modules/test_graph_type_registry.py
  tests/unit/graphs/graph_modules/test_media_type_processor.py
  tests/unit/graphs/graph_modules/test_performance_regression.py
  tests/unit/graphs/graph_modules/test_play_count_by_hourofday_graph.py
  tests/unit/graphs/graph_modules/test_progress_tracker.py
  tests/unit/graphs/graph_modules/test_sample_graph.py
  tests/unit/graphs/graph_modules/test_utils.py
  tests/unit/graphs/graph_modules/test_visualization_mixin.py
  tests/utils/graph_helpers.py
Due: extract-strings

refactor(error-handling): centralize exception definitions
  src/tgraph_bot/bot/commands/config.py
  src/tgraph_bot/bot/commands/my_stats.py
  src/tgraph_bot/bot/commands/update_graphs.py
  src/tgraph_bot/bot/permission_checker.py
  src/tgraph_bot/graphs/graph_modules/config/config_accessor.py
  src/tgraph_bot/graphs/graph_modules/core/graph_errors.py
  src/tgraph_bot/graphs/graph_modules/implementations/sample_graph.py
  src/tgraph_bot/graphs/graph_modules/types/constants.py
  src/tgraph_bot/graphs/graph_modules/utils/annotation_helper.py
  src/tgraph_bot/utils/core/config_utils.py
  src/tgraph_bot/utils/core/error_handler.py
  src/tgraph_bot/utils/core/exceptions.py
  tests/unit/graphs/graph_modules/test_annotation_helper.py
  tests/unit/graphs/graph_modules/test_config_accessor.py
  tests/unit/graphs/graph_modules/test_configuration_validation.py
  tests/unit/graphs/graph_modules/test_empty_data_handler.py
  tests/unit/graphs/graph_modules/test_media_type_processor.py
  tests/unit/graphs/graph_modules/test_performance_regression.py
  tests/unit/graphs/graph_modules/test_progress_tracker.py
  tests/unit/graphs/graph_modules/test_visualization_mixin.py
  tests/unit/utils/test_error_handler.py
Due: extract-strings

refactor: enhance type hinting clarity and consistency
  src/tgraph_bot/graphs/graph_modules/implementations/sample_graph.py
  src/tgraph_bot/graphs/graph_modules/utils/annotation_helper.py
  src/tgraph_bot/graphs/graph_modules/visualization/visualization_mixin.py
  tests/unit/graphs/graph_modules/test_annotation_helper.py
  tests/unit/graphs/graph_modules/test_empty_data_handler.py
  tests/unit/graphs/graph_modules/test_visualization_mixin.py
Due: extract-strings

refactor: suppress pyright errors for matplotlib methods
  pyproject.toml
  src/tgraph_bot/graphs/graph_modules/core/base_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/sample_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/daily_play_count_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_dayofweek_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_hourofday_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_month_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/top_10_platforms_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/top_10_users_graph.py
  src/tgraph_bot/graphs/graph_modules/utils/annotation_helper.py
  src/tgraph_bot/graphs/graph_modules/visualization/visualization_mixin.py
  tests/unit/graphs/graph_modules/test_visualization_mixin.py
  tests/utils/graph_helpers.py
  uv.lock
Due: extract-strings

refactor: suppress pyright errors more precisely
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_month_graph.py
  src/tgraph_bot/graphs/graph_modules/utils/annotation_helper.py
  tests/unit/bot/commands/test_config.py
Due: extract-strings

refactor(tests): silence pyright reports for command callbacks
  tests/unit/bot/commands/test_config.py
  tests/unit/bot/commands/test_test_scheduler.py
Due: none

refactor(types): Refine type hints and remove unused imports
  src/tgraph_bot/graphs/graph_modules/utils/annotation_helper.py
  src/tgraph_bot/graphs/graph_modules/visualization/visualization_mixin.py
  src/tgraph_bot/utils/core/exceptions.py
  tests/unit/bot/commands/test_update_graphs.py
  tests/unit/bot/test_permission_checker.py
  tests/unit/bot/test_startup_sequence.py
  tests/unit/graphs/graph_modules/test_data_processor.py
  tests/unit/graphs/graph_modules/test_graph_errors.py
  tests/unit/graphs/graph_modules/test_graph_type_registry.py
  tests/unit/test_main.py
Due: extract-strings

refactor: remove unnecessary pyright ignore comments
  tests/integration/test_async_threading.py
  tests/integration/test_enhanced_error_handling.py
  tests/unit/bot/commands/test_update_graphs.py
  tests/unit/graphs/graph_modules/test_annotation_helper.py
  tests/unit/graphs/graph_modules/test_progress_tracker.py
Due: none

style: suppress pyright reportUnknownMemberType warnings
  src/tgraph_bot/graphs/graph_modules/utils/utils.py
  src/tgraph_bot/graphs/graph_modules/visualization/visualization_mixin.py
  tests/integration/test_async_threading.py
  tests/integration/test_background_task_management.py
  tests/integration/test_enhanced_error_handling.py
  tests/integration/test_graph_manager_architecture.py
  tests/integration/test_non_blocking_graph_generation.py
  tests/unit/bot/commands/test_update_graphs.py
  tests/unit/bot/test_extensions.py
  tests/unit/bot/test_permission_checker.py
  tests/unit/graphs/graph_modules/test_annotation_helper.py
  tests/unit/graphs/graph_modules/test_base_graph.py
  tests/unit/graphs/graph_modules/test_empty_data_handler.py
  tests/unit/graphs/graph_modules/test_graph_errors.py
  tests/unit/graphs/graph_modules/test_graph_factory.py
  tests/unit/graphs/graph_modules/test_media_type_processor.py
  tests/unit/graphs/graph_modules/test_progress_tracker.py
  tests/unit/graphs/graph_modules/test_sample_graph.py
  tests/unit/graphs/graph_modules/test_utils.py
  tests/unit/test_main.py
  tests/unit/utils/test_discord_file_utils.py
Due: extract-strings

refactor(graph): remove redundant log message for empty data
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_month_graph.py
Due: extract-strings

refactor: improve and standardize `EmptyDataHandler`
  src/tgraph_bot/graphs/graph_manager.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/daily_play_count_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_dayofweek_graph.py
  src/tgraph_bot/graphs/user_graph_manager.py
  tests/unit/graphs/graph_modules/test_data_processor.py
  tests/unit/graphs/graph_modules/test_empty_data_handler.py
Due: extract-strings

test: remove unnecessary pyright ignore comments
  tests/unit/graphs/graph_modules/test_data_fetcher.py
Due: none

refactor: replace dict with Mapping for type hint
  src/tgraph_bot/graphs/graph_manager.py
Due: extract-strings

docs: update gitignore for data directory
  .gitignore
Due: none

feat: introduce data processing module
  src/tgraph_bot/graphs/graph_modules/data/__init__.py
  src/tgraph_bot/graphs/graph_modules/data/data_fetcher.py
  src/tgraph_bot/graphs/graph_modules/data/data_processor.py
  src/tgraph_bot/graphs/graph_modules/data/empty_data_handler.py
  src/tgraph_bot/graphs/graph_modules/data/media_type_processor.py
Due: extract-strings
