Repository engels74/tgraph-bot-source: changes, and which pre-commit hooks are due for each by the changed paths.
All: extract-strings, update-translations

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: extract-strings
        name: Extract translatable strings
        entry: sh -c 'if git diff --cached --name-only | grep -E "\.(py)$" | grep -v __pycache__ | grep -v tests/; then uv run python scripts/i18n/extract_strings.py && git add locale/messages.pot; fi'
        language: system
        always_run: false
        files: '\.py$'
        exclude: '^(tests/|__pycache__/)'
      
      - id: update-translations
        name: Update translation files
        entry: sh -c 'if git diff --cached --name-only | grep -q "locale/messages.pot"; then uv run python scripts/i18n/update_translations.py && uv run python scripts/i18n/compile_translations.py && git add locale/; fi'
        language: system
        always_run: false
        files: 'locale/messages\.pot$'

refactor: change default discord timestamp format to relative
  config.yml.sample
  src/tgraph_bot/config/schema.py
  tests/unit/config/test_timestamp_format_config.py
Due: extract-strings

refactor(tests): simplify AsyncMock usage for Discord client start
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_hourofday_graph.py
  tests/unit/test_main.py
  tests/unit/utils/test_discord_file_utils.py
Due: extract-strings

refactor: centralize timestamp calculations and align embed displays
  src/tgraph_bot/bot/commands/update_graphs.py
  src/tgraph_bot/bot/update_tracker.py
  src/tgraph_bot/utils/discord/discord_file_utils.py
  src/tgraph_bot/utils/time/__init__.py
  src/tgraph_bot/utils/time/scheduling.py
  src/tgraph_bot/utils/time/timestamp_calculator.py
  tests/unit/utils/test_discord_embed_timestamps.py
Due: extract-strings

fix(timestamps): ensure consistent time calculations and display
  src/tgraph_bot/bot/update_tracker.py
  src/tgraph_bot/utils/time/timestamp_calculator.py
  tests/unit/utils/test_discord_embed_timestamps.py
Due: extract-strings

fix(scheduling): ensure daily updates schedule for next day
  src/tgraph_bot/utils/time/scheduling.py
  tests/unit/test_date_calculation_bug.py
  tests/unit/utils/test_discord_file_utils.py
  tests/unit/utils/test_time_scheduling.py
Due: extract-strings

refactor(locale): update POT-Creation-Date and source file references
  locale/da/LC_MESSAGES/messages.po
  locale/en/LC_MESSAGES/messages.po
  locale/messages.pot
Due: update-translations

fix: suppress matplotlib categorical units warnings
  src/tgraph_bot/graphs/graph_modules/__init__.py
  src/tgraph_bot/graphs/graph_modules/core/base_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_hourofday_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/top_10_users_graph.py
  src/tgraph_bot/graphs/graph_modules/visualization/visualization_mixin.py
  tests/unit/graphs/graph_modules/test_matplotlib_warnings_fix.py
Due: extract-strings

test: refine matplotlib warning test strategy
  tests/unit/graphs/graph_modules/test_matplotlib_warnings_fix.py
Due: none

refactor(timestamp): centralize and unify scheduling logic
  src/tgraph_bot/utils/time/timestamp_calculator.py
Due: extract-strings

test: mock TGraphBot for graceful shutdown test
  tests/unit/test_main.py
Due: none

refactor(i18n): reorder message references
  locale/da/LC_MESSAGES/messages.po
  locale/en/LC_MESSAGES/messages.po
  locale/messages.pot
Due: update-translations

``` fix(update-tracker): correctly update next_update after successful execution
  src/tgraph_bot/bot/update_tracker.py
  tests/unit/bot/test_update_tracker_next_update_bug.py
Due: extract-strings

refactor(scheduling): extract and modularize scheduling components
  src/tgraph_bot/bot/scheduling/__init__.py
  src/tgraph_bot/bot/scheduling/error_handling.py
  src/tgraph_bot/bot/scheduling/persistence.py
  src/tgraph_bot/bot/scheduling/recovery.py
  src/tgraph_bot/bot/scheduling/schedule.py
  src/tgraph_bot/bot/scheduling/task_manager.py
  src/tgraph_bot/bot/scheduling/types.py
  src/tgraph_bot/bot/update_tracker.py
Due: extract-strings

refactor(scheduling): remove unused get_system_now import
  src/tgraph_bot/bot/scheduling/recovery.py
  src/tgraph_bot/bot/scheduling/types.py
  tests/unit/test_timezone_handling.py
Due: extract-strings

feat(i18n): introduce GitHub Actions for i18n workflows
  .github/workflows/i18n-check.yml
  .github/workflows/i18n-sync.yml
  locale/messages.pot
  scripts/i18n/ci_helpers.py
  scripts/i18n/extract_strings.py
  scripts/i18n/weblate_sync.py
Due: extract-strings, update-translations

refactor: standardize workflow YAML headers and line endings
  .github/workflows/i18n-check.yml
  .github/workflows/i18n-sync.yml
Due: none

feat(i18n): update git config for i18n sync workflow
  .github/workflows/i18n-sync.yml
Due: none

build: update uv to latest version
  .github/workflows/i18n-check.yml
  .github/workflows/i18n-sync.yml
Due: none

refactor(typing): add explicit type annotations for clarity and Pyright checks
  scripts/i18n/ci_helpers.py
  scripts/i18n/weblate_sync.py
Due: extract-strings

refactor: update examples to use uv run
  scripts/i18n/ci_helpers.py
  scripts/i18n/compile_translations.py
  scripts/i18n/extract_strings.py
  scripts/i18n/update_translations.py
  scripts/i18n/weblate_sync.py
Due: extract-strings

test: refine main function error handling tests
  tests/unit/test_main.py
Due: none

refactor(i18n): remove explicit Weblate sync step
  .github/workflows/i18n-sync.yml
Due: none

refactor: add missing newline at end of file (testing)
  scripts/i18n/ci_helpers.py
Due: extract-strings

refactor(ci): update i18n workflow to also manage .po files
  .github/workflows/i18n-sync.yml
Due: none

refactor(progress): remove unused progress utilities
  src/tgraph_bot/bot/commands/update_graphs.py
  src/tgraph_bot/utils/discord/command_utils.py
  src/tgraph_bot/utils/discord/progress_utils.py
  tests/unit/bot/commands/test_update_graphs.py
  tests/unit/utils/test_command_utils.py
Due: extract-strings

refactor: encapsulate ephemeral Discord messaging
  src/tgraph_bot/bot/commands/config.py
  src/tgraph_bot/bot/commands/my_stats.py
  src/tgraph_bot/bot/commands/test_scheduler.py
  src/tgraph_bot/bot/commands/update_graphs.py
  src/tgraph_bot/graphs/graph_modules/__init__.py
  src/tgraph_bot/graphs/graph_modules/core/base_graph.py
  src/tgraph_bot/graphs/graph_modules/visualization/visualization_mixin.py
  src/tgraph_bot/utils/discord/base_command_cog.py
  src/tgraph_bot/utils/discord/ephemeral_utils.py
  tests/unit/bot/commands/test_test_scheduler.py
  tests/unit/bot/commands/test_update_graphs.py
  tests/unit/utils/test_base_command_cog.py
  tests/unit/utils/test_ephemeral_utils.py
Due: extract-strings

fix(discord): handle delete_after for followup messages
  src/tgraph_bot/utils/discord/ephemeral_utils.py
  tests/unit/utils/test_ephemeral_utils.py
Due: extract-strings

docs(startup): clarify ephemeral message auto-deletion
  src/tgraph_bot/bot/startup_sequence.py
Due: extract-strings

docs: simplify ephemeral message auto-deletion note
  src/tgraph_bot/bot/startup_sequence.py
Due: extract-strings

refactor: decrease ephemeral message deletion time to 30 seconds
  src/tgraph_bot/utils/discord/ephemeral_utils.py
  tests/unit/utils/test_base_command_cog.py
  tests/unit/utils/test_ephemeral_utils.py
Due: extract-strings

feat: allow configuring ephemeral message deletion timeout
  config.yml.sample
  src/tgraph_bot/config/schema.py
  src/tgraph_bot/utils/discord/base_command_cog.py
  src/tgraph_bot/utils/discord/ephemeral_utils.py
  tests/unit/config/test_schema.py
  tests/unit/utils/test_base_command_cog.py
  tests/unit/utils/test_ephemeral_utils.py
Due: extract-strings

refactor: improve readability and type hinting in tests
  tests/unit/bot/commands/test_test_scheduler.py
  tests/unit/bot/commands/test_update_graphs.py
  tests/unit/utils/test_base_command_cog.py
  tests/unit/utils/test_ephemeral_utils.py
Due: none

refactor(pyright): refine variable type annotations
  tests/unit/bot/commands/test_test_scheduler.py
  tests/unit/bot/commands/test_update_graphs.py
  tests/unit/utils/test_base_command_cog.py
Due: none

feat(i18n): dynamically generate gettext header URLs from weblate config
  locale/da/LC_MESSAGES/messages.po
  locale/en/LC_MESSAGES/messages.po
  locale/messages.pot
  src/tgraph_bot/utils/i18n/i18n_utils.py
  tests/unit/utils/test_i18n_utils.py
Due: extract-strings, update-translations

refactor(scheduler): reorder update state and next schedule calculation
  src/tgraph_bot/bot/update_tracker.py
Due: extract-strings

feat: allow custom color palettes for graphs
  config.yml.sample
  src/tgraph_bot/config/schema.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_hourofday_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/top_10_users_graph.py
  src/tgraph_bot/graphs/graph_modules/visualization/visualization_mixin.py
  tests/unit/graphs/graph_modules/test_visualization_mixin.py
Due: extract-strings

feat(graphs): allow configurable seaborn palettes for bar plots
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_hourofday_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/top_10_users_graph.py
  tests/unit/graphs/graph_modules/test_visualization_mixin.py
Due: extract-strings

feat: implement palette configuration with precedence
  src/tgraph_bot/graphs/graph_modules/core/base_graph.py
  tests/unit/graphs/graph_modules/test_palette_configuration.py
Due: extract-strings

refactor(tests): clean up imports and add pyright ignores
  tests/unit/graphs/graph_modules/test_palette_configuration.py
Due: none
