Repository engels74/tgraph-bot-source: changes, and which pre-commit hooks are due for each by the changed paths.
All: extract-strings, update-translations

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: extract-strings
        name: Extract translatable strings
        entry: sh -c 'if git diff --cached --name-only | grep -E "\.(py)$" | grep -v __pycache__ | grep -v tests/; then uv run python scripts/i18n/extract_strings.py && git add locale/messages.pot; fi'
        language: system
        always_run: false
        files: '\.py$'
        exclude: '^(tests/|__pycache__/)'
      
      - id: update-translations
        name: Update translation files
        entry: sh -c 'if git diff --cached --name-only | grep -q "locale/messages.pot"; then uv run python scripts/i18n/update_translations.py && uv run python scripts/i18n/compile_translations.py && git add locale/; fi'
        language: system
        always_run: false
        files: 'locale/messages\.pot$'

chore(readme): add DeepWiki badge
  README.md
Due: none

Update README.md [skip ci]
  README.md
Due: none

chore(tooling): remove deprecated cursor and taskmaster config/rules
  .cursor/rules/cursor_rules.mdc
  .cursor/rules/self_improve.mdc
  .cursor/rules/taskmaster/dev_workflow.mdc
  .cursor/rules/taskmaster/taskmaster.mdc
  .pre-commit-config.yaml
  .taskmaster/config.json
  .taskmaster/state.json
  .taskmaster/templates/example_prd.txt
Due: none

build(deps): update ruff, basedpyright, pandas-stubs, and other dependencies [skip ci]
  pyproject.toml
  uv.lock
Due: none

Update POT file with correct source string locations
  locale/messages.pot
Due: update-translations

fix(i18n): adjust project root path for extraction
  scripts/i18n/extract_strings.py
  uv.lock
Due: extract-strings

refactor: update message keys and remove unused ones
  locale/da/LC_MESSAGES/messages.po
  locale/en/LC_MESSAGES/messages.po
  locale/messages.pot
Due: update-translations

Translated using Weblate (Danish)
  locale/da/LC_MESSAGES/messages.mo
  locale/da/LC_MESSAGES/messages.po
Due: none

Translated using Weblate (Danish) (#38)
  locale/da/LC_MESSAGES/messages.mo
  locale/da/LC_MESSAGES/messages.po
Due: none

refactor: silence pyright warnings for pandas types
  graphs/graph_modules/tautulli_graphs/daily_play_count_graph.py
  graphs/graph_modules/tautulli_graphs/play_count_by_month_graph.py
  graphs/graph_modules/tautulli_graphs/top_10_users_graph.py
Due: extract-strings

Translated using Weblate (Danish) (#39)
  locale/da/LC_MESSAGES/messages.mo
  locale/da/LC_MESSAGES/messages.po
Due: none

Translated using Weblate (Danish) (#40)
  locale/da/LC_MESSAGES/messages.mo
  locale/da/LC_MESSAGES/messages.po
Due: none

refactor: update message IDs for cooldown settings
  locale/da/LC_MESSAGES/messages.po
  locale/en/LC_MESSAGES/messages.po
  locale/messages.pot
Due: update-translations

fix(i18n): translate Danish messages
  locale/da/LC_MESSAGES/messages.po
Due: none

refactor: remove file monitoring for config changes
  src/tgraph_bot/bot/commands/config.py
  src/tgraph_bot/config/manager.py
  tests/integration/test_project_structure.py
  tests/unit/config/test_manager.py
Due: extract-strings

dep: remove watchdog from dependencies
  pyproject.toml
  uv.lock
Due: none

fix: update configuration change message
  locale/da/LC_MESSAGES/messages.mo
  locale/da/LC_MESSAGES/messages.po
  locale/en/LC_MESSAGES/messages.po
  locale/messages.pot
Due: update-translations

fix(update-tracker): ensure fixed time updates respect update_days
  src/tgraph_bot/bot/update_tracker.py
  tests/unit/bot/test_update_tracker_config.py
  tests/unit/bot/test_update_tracker_fixed_time_fix.py
Due: extract-strings

feat: enhance datetime timezone awareness in update tracking
  src/tgraph_bot/bot/update_tracker.py
  src/tgraph_bot/utils/discord/discord_file_utils.py
  tests/unit/utils/test_discord_file_utils.py
Due: extract-strings

refactor: standardize timezone handling with discord.utils.utcnow()
  src/tgraph_bot/bot/update_tracker.py
  src/tgraph_bot/utils/discord/discord_file_utils.py
Due: extract-strings

refactor(tests): Improve timestamp and time calculation tests
  tests/unit/utils/test_discord_file_utils.py
Due: none

refactor(tests): underscore unused variables in test_discord_file_utils
  tests/unit/utils/test_discord_file_utils.py
Due: none

refactor: standardize datetime usage with discord.utils.utcnow
  src/tgraph_bot/bot/startup_sequence.py
  src/tgraph_bot/bot/update_tracker.py
  tests/unit/test_timezone_handling.py
Due: extract-strings

test: ensure datetime objects are timezone-aware in tests
  tests/integration/test_recovery_and_schedule_integrity.py
  tests/unit/test_timezone_handling.py
Due: none

refactor: replace discord.utils.utcnow with local timezone utilities
  src/tgraph_bot/bot/update_tracker.py
  src/tgraph_bot/utils/core/error_handler.py
  src/tgraph_bot/utils/discord/discord_file_utils.py
  tests/unit/test_timezone_handling.py
Due: extract-strings

fix(startup): ensure scheduler state uses local timezone for timestamps
  src/tgraph_bot/bot/startup_sequence.py
  tests/unit/bot/test_startup_sequence.py
  tests/unit/test_timezone_handling.py
Due: extract-strings

feat(discord): add status emojis to boolean config values and align tests to local tz
  src/tgraph_bot/utils/discord/command_utils.py
  tests/unit/bot/test_update_tracker_config.py
  tests/unit/bot/test_update_tracker_enhanced.py
  tests/unit/bot/test_update_tracker_fixed_time_fix.py
  tests/unit/utils/test_discord_file_utils.py
Due: extract-strings

test(pyright): suppress pyright any warnings and align assertion messages
  tests/unit/bot/test_startup_sequence.py
  tests/unit/bot/test_update_tracker_config.py
  tests/unit/test_main.py
  tests/unit/utils/test_error_handler.py
Due: none

fix(scheduler): respect UPDATE_DAYS when calculating first-launch update time
  src/tgraph_bot/utils/discord/discord_file_utils.py
  tests/unit/utils/test_discord_file_utils.py
Due: extract-strings

fix(discord-scheduling): align with scheduler when calculating upcoming update time
  src/tgraph_bot/utils/discord/discord_file_utils.py
  tests/unit/utils/test_discord_file_utils.py
Due: extract-strings

fix(scheduler): align next update calculation with scheduler on first launch
  src/tgraph_bot/utils/discord/discord_file_utils.py
  tests/unit/test_timezone_handling.py
  tests/unit/utils/test_discord_file_utils.py
Due: extract-strings

test(discord-file-utils): suppress pyright any type warning in test mock
  tests/unit/utils/test_discord_file_utils.py
Due: none

feat(graphs): allow configurable width, height and dpi for all graphs
  config.yml.sample
  src/tgraph_bot/config/schema.py
  src/tgraph_bot/graphs/graph_modules/graph_factory.py
  tests/unit/config/test_graph_dimensions.py
  tests/unit/graphs/graph_modules/test_graph_factory_dimensions.py
  tests/unit/graphs/graph_modules/test_graph_instances_dimensions.py
Due: extract-strings

chore(config)!: increase default graph width from 12 to 14
  src/tgraph_bot/config/schema.py
  src/tgraph_bot/graphs/graph_modules/graph_factory.py
Due: extract-strings

style(config): swap order of graph width and height config keys and update default width
  config.yml.sample
Due: none

fix(config): reduce default graph width from 14 to 12 inches
  src/tgraph_bot/config/schema.py
  src/tgraph_bot/graphs/graph_modules/graph_factory.py
  tests/unit/graphs/graph_modules/test_graph_instances_dimensions.py
Due: extract-strings
