Repository engels74/tgraph-bot-source: changes, and which pre-commit hooks are due for each by the changed paths.
All: extract-strings, update-translations

extract-strings:
  name: Extract translatable strings
  entry: sh -c 'if git diff --cached --name-only | grep -E "\.(py)$" | grep -v __pycache__ | grep -v tests/; then uv run python scripts/i18n/extract_strings.py && git add locale/messages.pot; fi'
  language: system
  always_run: false

update-translations:
  name: Update translation files
  entry: sh -c 'if git diff --cached --name-only | grep -q "locale/messages.pot"; then uv run python scripts/i18n/update_translations.py && uv run python scripts/i18n/compile_translations.py && git add locale/; fi'
  language: system
  always_run: false

refactor: improve cross-platform local timezone detection
  src/tgraph_bot/bot/update_tracker.py
  src/tgraph_bot/graphs/graph_modules/data/data_processor.py
  src/tgraph_bot/utils/discord/discord_file_utils.py
  tests/unit/test_timezone_handling.py
Due: extract-strings

refactor(tests): update test data and validation logic
  src/tgraph_bot/graphs/graph_modules/data/media_type_processor.py
  src/tgraph_bot/utils/core/error_handler.py
  tests/unit/bot/test_startup_sequence.py
  tests/unit/graphs/graph_modules/test_base_graph.py
  tests/unit/graphs/graph_modules/test_data_fetcher.py
  tests/unit/graphs/graph_modules/test_data_processor.py
  tests/unit/graphs/graph_modules/test_empty_data_handler.py
  tests/unit/graphs/graph_modules/test_media_type_processor.py
  tests/unit/graphs/graph_modules/test_play_count_by_hourofday_graph.py
  tests/unit/utils/test_discord_file_utils.py
  tests/unit/utils/test_error_handler.py
  tests/utils/graph_helpers.py
Due: extract-strings

``` refactor(types): resolve pyright reportAny and reportUnusedParameter issues
  src/tgraph_bot/bot/update_tracker.py
  src/tgraph_bot/graphs/graph_modules/utils/annotation_helper.py
  src/tgraph_bot/utils/discord/discord_file_utils.py
  tests/unit/bot/test_startup_sequence.py
  tests/unit/graphs/graph_modules/test_annotation_helper.py
  tests/unit/graphs/graph_modules/test_data_fetcher.py
Due: extract-strings

refactor: consolidate update tracker and graph tests
  tests/integration/test_graph_customization_validation.py
  tests/integration/test_graph_manager_architecture.py
  tests/unit/bot/commands/test_update_graphs.py
  tests/unit/bot/test_update_tracker.py
  tests/unit/bot/test_update_tracker_config.py
  tests/unit/bot/test_update_tracker_enhanced.py
  tests/unit/bot/test_update_tracker_error_handling.py
  tests/unit/bot/test_update_tracker_fixed_time_fix.py
  tests/unit/graphs/graph_modules/test_graph_factory.py
  tests/unit/graphs/graph_modules/test_play_count_by_hourofday_graph.py
  tests/unit/graphs/graph_modules/test_sample_graph.py
  tests/unit/graphs/graph_modules/test_standard_graphs.py
  tests/utils/test_helpers.py
Due: none

fix: update test assertions for comprehensive config and type ignore
  tests/integration/test_graph_customization_validation.py
  tests/unit/bot/commands/test_update_graphs.py
  tests/unit/bot/test_update_tracker.py
Due: none

refactor(tests): centralize cog initialization and type validation tests
  tests/conftest.py
  tests/unit/bot/commands/test_config.py
  tests/unit/bot/commands/test_test_scheduler.py
  tests/unit/bot/commands/test_update_graphs.py
  tests/unit/bot/test_cog_base_functionality.py
  tests/utils/cog_helpers.py
Due: none

refactor(tests): improve type consistency and suppress Pyright errors
  tests/unit/bot/commands/test_update_graphs.py
  tests/unit/bot/test_cog_base_functionality.py
  tests/unit/graphs/graph_modules/test_standard_graphs.py
  tests/utils/test_helpers.py
Due: none

fix(graph): improve matplotlib cleanup and data processing robustness
  src/tgraph_bot/graphs/graph_modules/core/base_graph.py
  src/tgraph_bot/graphs/graph_modules/data/data_processor.py
  src/tgraph_bot/main.py
Due: extract-strings

fix(data-processor): handle nested play history data
  src/tgraph_bot/graphs/graph_modules/data/data_processor.py
Due: extract-strings

refactor: add type ignore for plt.close('all')
  src/tgraph_bot/graphs/graph_modules/core/base_graph.py
  src/tgraph_bot/graphs/graph_modules/data/data_processor.py
Due: extract-strings

refactor: rename `play_history` key to `data` in graph managers
  src/tgraph_bot/graphs/graph_manager.py
  src/tgraph_bot/graphs/user_graph_manager.py
  tests/unit/graphs/graph_modules/test_data_processor.py
Due: extract-strings

refactor(graphs): improve graph cleanup and error handling
  tests/unit/graphs/graph_modules/test_base_graph.py
  tests/unit/graphs/graph_modules/test_standard_graphs.py
Due: none

fix(data-validation): improve error message readability
  src/tgraph_bot/graphs/graph_modules/data/data_processor.py
Due: extract-strings

refactor(extensions): remove unused extension functions
  src/tgraph_bot/bot/extensions.py
  src/tgraph_bot/bot/update_tracker.py
  src/tgraph_bot/graphs/graph_modules/core/base_graph.py
  src/tgraph_bot/graphs/graph_modules/data/__init__.py
  src/tgraph_bot/graphs/graph_modules/data/data_fetcher.py
  src/tgraph_bot/graphs/graph_modules/data/data_processor.py
  src/tgraph_bot/graphs/graph_modules/data/empty_data_handler.py
  src/tgraph_bot/graphs/graph_modules/data/media_type_processor.py
  src/tgraph_bot/main.py
  src/tgraph_bot/utils/core/error_handler.py
  src/tgraph_bot/utils/discord/discord_file_utils.py
  tests/conftest.py
  tests/integration/test_graph_customization_validation.py
  tests/integration/test_graph_manager_architecture.py
  tests/unit/bot/commands/test_config.py
  tests/unit/bot/commands/test_test_scheduler.py
  tests/unit/bot/commands/test_update_graphs.py
  tests/unit/bot/test_cog_base_functionality.py
  tests/unit/bot/test_extensions.py
  tests/unit/bot/test_update_tracker.py
  tests/unit/graphs/graph_modules/test_base_graph.py
  tests/unit/graphs/graph_modules/test_data_processor.py
  tests/unit/graphs/graph_modules/test_empty_data_handler.py
  tests/unit/graphs/graph_modules/test_graph_factory.py
  tests/unit/graphs/graph_modules/test_media_type_processor.py
  tests/unit/graphs/graph_modules/test_standard_graphs.py
  tests/unit/test_timezone_handling.py
  tests/unit/utils/test_discord_file_utils.py
  tests/utils/cog_helpers.py
  tests/utils/test_helpers.py
Due: extract-strings

feat(data): implement API-level date filtering for play history
  src/tgraph_bot/graphs/graph_modules/data/data_fetcher.py
  tests/unit/graphs/graph_modules/test_data_fetcher.py
Due: extract-strings

refactor(data-fetcher): expose date calculation utilities
  src/tgraph_bot/graphs/graph_modules/data/data_fetcher.py
  tests/unit/graphs/graph_modules/test_data_fetcher.py
Due: extract-strings

feat(data): implement API-level time range filtering
  src/tgraph_bot/graphs/graph_modules/data/data_fetcher.py
Due: extract-strings

refactor(graphs): streamline empty data handling and method calls
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/daily_play_count_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_dayofweek_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_hourofday_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_month_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/top_10_users_graph.py
  tests/unit/graphs/graph_modules/test_base_graph.py
  tests/unit/graphs/graph_modules/test_daily_play_count_graph_refactoring.py
  tests/unit/graphs/graph_modules/test_empty_data_standardization.py
Due: extract-strings

refactor(data-fetch): streamline date filtering in get_play_history
  src/tgraph_bot/graphs/graph_modules/data/data_fetcher.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/daily_play_count_graph.py
  tests/unit/graphs/graph_modules/test_daily_play_count_graph_refactoring.py
  tests/unit/graphs/graph_modules/test_data_fetcher.py
  tests/unit/graphs/graph_modules/test_empty_data_standardization.py
Due: extract-strings

refactor: remove redundant empty data handlers
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/daily_play_count_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_dayofweek_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_hourofday_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_month_graph.py
  tests/unit/graphs/graph_modules/test_empty_data_standardization.py
Due: extract-strings

refactor(visualization): centralize media type display logic
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/daily_play_count_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_dayofweek_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_hourofday_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_month_graph.py
  src/tgraph_bot/graphs/graph_modules/visualization/visualization_mixin.py
Due: extract-strings

refactor: standardize bar value annotations and media type info
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/daily_play_count_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_dayofweek_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_month_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/top_10_users_graph.py
  tests/unit/graphs/graph_modules/test_daily_play_count_graph_refactoring.py
  tests/unit/graphs/graph_modules/test_visualization_mixin.py
Due: extract-strings

refactor(i18n): update POT and PO files with revised messages
  locale/da/LC_MESSAGES/messages.po
  locale/en/LC_MESSAGES/messages.po
  locale/messages.pot
Due: update-translations

style: remove trailing blank lines in python files
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/daily_play_count_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_dayofweek_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_hourofday_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_month_graph.py
  src/tgraph_bot/graphs/graph_modules/visualization/visualization_mixin.py
  tests/unit/graphs/graph_modules/test_daily_play_count_graph_refactoring.py
  tests/unit/graphs/graph_modules/test_empty_data_standardization.py
Due: extract-strings

chore: update POT creation date
  locale/da/LC_MESSAGES/messages.po
  locale/en/LC_MESSAGES/messages.po
  locale/messages.pot
Due: update-translations

refactor: downgrade python version to 3.12
  .python-version
  pyproject.toml
  uv.lock
Due: none

refactor(graphs): improve PlayCountByHourOfDayGraph plotting
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_hourofday_graph.py
Due: extract-strings

refactor(i18n): reorder message references
  locale/da/LC_MESSAGES/messages.po
  locale/en/LC_MESSAGES/messages.po
  locale/messages.pot
Due: update-translations

refactor(graphs): migrate play count by hour of day graph to seaborn
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_hourofday_graph.py
Due: extract-strings

refactor: centralize time and scheduling utilities
  src/tgraph_bot/bot/startup_sequence.py
  src/tgraph_bot/bot/update_tracker.py
  src/tgraph_bot/utils/discord/discord_file_utils.py
  src/tgraph_bot/utils/time/__init__.py
  src/tgraph_bot/utils/time/scheduling.py
  src/tgraph_bot/utils/time/timezone.py
  tests/unit/test_timezone_handling.py
  tests/unit/utils/test_time_scheduling.py
  tests/unit/utils/test_time_timezone.py
Due: extract-strings

refactor: unify timezone handling in ScheduleState deserialization
  src/tgraph_bot/bot/update_tracker.py
  tests/integration/test_background_task_management.py
  tests/unit/bot/test_startup_sequence.py
  tests/unit/bot/test_update_tracker.py
  tests/unit/test_timezone_handling.py
  tests/unit/utils/test_discord_file_utils.py
Due: extract-strings

refactor: standardize discord timestamp formatting to full date/time
  src/tgraph_bot/bot/commands/test_scheduler.py
  src/tgraph_bot/utils/discord/discord_file_utils.py
  src/tgraph_bot/utils/time/timezone.py
  tests/unit/test_timezone_handling.py
  tests/unit/utils/test_discord_file_utils.py
  tests/unit/utils/test_time_timezone.py
Due: extract-strings

refactor(timezone): enhance system timezone detection
  src/tgraph_bot/utils/time/timezone.py
Due: extract-strings

refactor(timezone): simplify system timezone tests
  tests/unit/utils/test_time_timezone.py
Due: none

refactor: pass actual next update time to embed creation
  src/tgraph_bot/main.py
  src/tgraph_bot/utils/discord/discord_file_utils.py
  tests/unit/utils/test_discord_file_utils.py
Due: extract-strings

feat: allow customizable Discord timestamp format
  config.yml.sample
  src/tgraph_bot/bot/commands/update_graphs.py
  src/tgraph_bot/bot/commands/uptime.py
  src/tgraph_bot/bot/startup_sequence.py
  src/tgraph_bot/config/schema.py
  src/tgraph_bot/main.py
  src/tgraph_bot/utils/discord/discord_file_utils.py
  tests/unit/config/test_timestamp_format_config.py
Due: extract-strings

test: add custom timestamp format test for embeds
  tests/unit/utils/test_discord_file_utils.py
Due: none

refactor(tests): update test imports and remove unused scheduler state methods
  locale/da/LC_MESSAGES/messages.po
  scripts/weblate/validate_config.py
  tests/unit/config/test_timestamp_format_config.py
  tests/unit/utils/test_discord_file_utils.py
  tests/unit/utils/test_time_timezone.py
Due: extract-strings

test: remove defunct scheduler state tests
  tests/unit/utils/test_discord_file_utils.py
Due: none

Path conditions:
  extract-strings: any of: \.py$, but not: ^(tests/|__pycache__/)
  update-translations: any of: locale/messages\.pot$
