Repository engels74/tgraph-bot-source: changes, and which pre-commit hooks are due for each by the changed paths.
All: extract-strings, update-translations

extract-strings:
  name: Extract translatable strings
  entry: sh -c 'if git diff --cached --name-only | grep -E "\.(py)$" | grep -v __pycache__ | grep -v tests/; then uv run python scripts/i18n/extract_strings.py && git add locale/messages.pot; fi'
  language: system
  always_run: false

update-translations:
  name: Update translation files
  entry: sh -c 'if git diff --cached --name-only | grep -q "locale/messages.pot"; then uv run python scripts/i18n/update_translations.py && uv run python scripts/i18n/compile_translations.py && git add locale/; fi'
  language: system
  always_run: false

refactor: streamline update tracker and utility imports
  src/tgraph_bot/bot/update_tracker.py
  src/tgraph_bot/utils/__init__.py
  src/tgraph_bot/utils/discord/ephemeral_utils.py
  tests/integration/test_background_task_management.py
  tests/integration/test_recovery_and_schedule_integrity.py
  tests/unit/bot/commands/test_config.py
  tests/unit/bot/test_update_tracker.py
  tests/unit/bot/test_update_tracker_next_update_bug.py
  tests/unit/test_timezone_handling.py
  tests/unit/utils/test_ephemeral_utils.py
Due: extract-strings

refactor: update config key references to lowercase
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/daily_play_count_graph.py
  src/tgraph_bot/graphs/user_graph_manager.py
  tests/conftest.py
  tests/integration/test_graph_customization_validation.py
  tests/unit/bot/commands/test_config.py
  tests/unit/graphs/graph_modules/test_palette_configuration.py
  tests/unit/graphs/graph_modules/test_standard_graphs.py
Due: extract-strings

build: update package versions
  pyproject.toml
  uv.lock
Due: none

feat(graphs): introduce per-graph media type separation and stacked bars
  config.yml.sample
  src/tgraph_bot/config/schema.py
  src/tgraph_bot/graphs/graph_modules/config/config_accessor.py
  src/tgraph_bot/graphs/graph_modules/core/base_graph.py
  tests/unit/config/test_schema.py
  tests/unit/graphs/graph_modules/test_config_accessor.py
Due: extract-strings

docs: clarify comment for daily_play_count stacked_bar_charts settings
  config.yml.sample
Due: none

fix(i18n): manual update
  locale/da/LC_MESSAGES/messages.po
  locale/en/LC_MESSAGES/messages.po
  locale/messages.pot
Due: update-translations

refactor(graphs): consolidate annotations with helper functions
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/daily_play_count_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_hourofday_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/top_10_platforms_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/top_10_users_graph.py
  src/tgraph_bot/graphs/graph_modules/utils/annotation_helper.py
  tests/unit/graphs/graph_modules/test_annotation_helper.py
Due: extract-strings

refactor(graphs): improve horizontal bar annotation
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/top_10_platforms_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/top_10_users_graph.py
Due: extract-strings

refactor(graphs): enhance stacked horizontal bar annotations
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/top_10_platforms_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/top_10_users_graph.py
  src/tgraph_bot/graphs/graph_modules/utils/annotation_helper.py
Due: extract-strings

refactor(graph): improve type hints for annotation data
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_hourofday_graph.py
Due: extract-strings

feat(tautulli): add multi-faceted stream type analysis graphs
  src/tgraph_bot/graphs/graph_modules/core/graph_type_registry.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/__init__.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/daily_concurrent_stream_count_by_stream_type_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/daily_play_count_by_stream_type_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_platform_and_stream_type_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_source_resolution_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_stream_resolution_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_user_and_stream_type_graph.py
  src/tgraph_bot/graphs/graph_modules/utils/utils.py
  tests/unit/graphs/graph_modules/test_stream_type_graphs.py
Due: extract-strings

feat(graphs): add stream type analysis graphs
  config.yml.sample
Due: none

refactor(config): remove deprecated global media type settings
  config.yml.sample
Due: none

feat: introduce new graph types
  src/tgraph_bot/graphs/graph_modules/config/config_accessor.py
Due: extract-strings

fix(graph): enhance resolution graph empty data messages
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_source_resolution_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_stream_resolution_graph.py
  src/tgraph_bot/graphs/graph_modules/utils/utils.py
  src/tgraph_bot/utils/discord/discord_file_utils.py
  tests/unit/utils/test_discord_file_utils.py
Due: extract-strings

feat(utils): add resolution aggregation tests
  src/tgraph_bot/utils/discord/discord_file_utils.py
  tests/unit/graphs/graph_modules/test_utils.py
Due: extract-strings

feat: enhance resolution extraction with fallback logic
  src/tgraph_bot/graphs/graph_modules/data/data_processor.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_source_resolution_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_stream_resolution_graph.py
  src/tgraph_bot/graphs/graph_modules/utils/utils.py
  tests/unit/graphs/graph_modules/test_resolution_field_mapping.py
Due: extract-strings

feat(data): add resolution data for play history
  src/tgraph_bot/graphs/graph_modules/data/data_fetcher.py
  src/tgraph_bot/graphs/graph_modules/data/data_processor.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_source_resolution_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_stream_resolution_graph.py
  src/tgraph_bot/graphs/graph_modules/utils/utils.py
Due: extract-strings

feat: enhance play history processing with stream type filtering
  src/tgraph_bot/graphs/graph_modules/data/data_processor.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_source_resolution_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_stream_resolution_graph.py
  src/tgraph_bot/graphs/graph_modules/utils/__init__.py
  src/tgraph_bot/graphs/graph_modules/utils/utils.py
  tests/unit/graphs/graph_modules/test_stream_type_filtering.py
Due: extract-strings

feat: enhance resolution graphs with stream type breakdown
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_source_resolution_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_stream_resolution_graph.py
  src/tgraph_bot/graphs/graph_modules/utils/utils.py
  src/tgraph_bot/main.py
Due: extract-strings

feat(graphs): add resolution grouping for play count graphs
  src/tgraph_bot/config/schema.py
  src/tgraph_bot/graphs/graph_modules/config/config_accessor.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_source_resolution_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_stream_resolution_graph.py
  src/tgraph_bot/graphs/graph_modules/utils/resolution_grouping.py
  tests/unit/graphs/graph_modules/test_resolution_grouping.py
Due: extract-strings

fix(deps): update basedpyright, matplotlib-stubs and numpy versions
  pyproject.toml
  uv.lock
Due: none

refactor(resolution-grouping): improve standard resolution grouping with aspect ratio awareness
  src/tgraph_bot/graphs/graph_modules/utils/resolution_grouping.py
  tests/unit/graphs/graph_modules/test_resolution_grouping.py
Due: extract-strings

refactor(graphs): consistently group unknown resolutions to 'Other'
  src/tgraph_bot/graphs/graph_modules/utils/resolution_grouping.py
  tests/unit/graphs/graph_modules/test_resolution_grouping.py
Due: extract-strings

style: move legend to upper right
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_platform_and_stream_type_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_source_resolution_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_stream_resolution_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_user_and_stream_type_graph.py
Due: extract-strings

feat(config): add stream type graph toggles to enabled_on config
  src/tgraph_bot/config/schema.py
  tests/unit/graphs/graph_modules/test_config_accessor.py
Due: extract-strings

feat: add stream type graphs to graph factory
  tests/integration/test_end_to_end_customization.py
  tests/integration/test_graph_customization_validation.py
  tests/unit/graphs/graph_modules/test_graph_factory.py
  tests/utils/graph_helpers.py
Due: none

fix: remove unnecessary pyright ignore comments
  src/tgraph_bot/graphs/graph_modules/core/base_graph.py
  src/tgraph_bot/graphs/graph_modules/core/palette_resolver.py
  src/tgraph_bot/graphs/graph_modules/data/data_processor.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/daily_concurrent_stream_count_by_stream_type_graph.py
  tests/unit/graphs/graph_modules/test_stream_type_filtering.py
  tests/unit/graphs/graph_modules/test_stream_type_graphs.py
  tests/unit/graphs/graph_modules/test_visualization_mixin.py
  tests/utils/graph_helpers.py
Due: extract-strings

refactor(pyright): add explicit type hints and suppressions
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_source_resolution_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_stream_resolution_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_user_and_stream_type_graph.py
  src/tgraph_bot/graphs/graph_modules/utils/utils.py
  tests/unit/bot/commands/test_config.py
  tests/unit/graphs/graph_modules/test_stream_type_filtering.py
  tests/unit/graphs/graph_modules/test_stream_type_graphs.py
  tests/unit/graphs/graph_modules/test_utils.py
Due: extract-strings

refactor: remove unnecessary pyright ignore comments and refine type hints
  src/tgraph_bot/graphs/graph_modules/data/data_processor.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/daily_concurrent_stream_count_by_stream_type_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/daily_play_count_by_stream_type_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/daily_play_count_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_dayofweek_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_hourofday_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_month_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_platform_and_stream_type_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_source_resolution_graph.py
  src/tgraph_bot/graphs/graph_modules/utils/utils.py
  src/tgraph_bot/graphs/graph_modules/visualization/visualization_mixin.py
  tests/integration/test_memory_management.py
  tests/unit/bot/commands/test_config.py
  tests/unit/graphs/graph_modules/test_stream_type_filtering.py
  tests/unit/graphs/graph_modules/test_stream_type_graphs.py
Due: extract-strings

test: remove skipped and unimplemented tests
  tests/unit/graphs/graph_modules/test_stream_type_graphs.py
Due: none

feat(stream_types): introduce new stream type graph schemas and data processing
  src/tgraph_bot/config/schema.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/daily_play_count_by_stream_type_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/top_10_platforms_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/top_10_users_graph.py
  src/tgraph_bot/graphs/graph_modules/utils/resolution_grouping.py
  src/tgraph_bot/graphs/graph_modules/utils/utils.py
  tests/integration/test_end_to_end_customization.py
  tests/integration/test_locale_structure.py
  tests/unit/graphs/graph_modules/test_graph_factory.py
  tests/unit/graphs/graph_modules/test_graph_type_registry.py
  tests/unit/graphs/graph_modules/test_resolution_field_mapping.py
  tests/unit/graphs/graph_modules/test_resolution_grouping.py
  tests/unit/graphs/graph_modules/test_stream_type_filtering.py
Due: extract-strings

refactor: refine type hints and remove unnecessary casts
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_user_and_stream_type_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/top_10_platforms_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/top_10_users_graph.py
  src/tgraph_bot/graphs/graph_modules/utils/resolution_grouping.py
  src/tgraph_bot/graphs/graph_modules/utils/utils.py
  tests/unit/graphs/graph_modules/test_stream_type_filtering.py
  tests/unit/graphs/graph_modules/test_stream_type_graphs.py
Due: extract-strings

refactor: change graph output directory to data/graphs
  src/tgraph_bot/graphs/graph_modules/core/graph_factory.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/daily_concurrent_stream_count_by_stream_type_graph.py
  src/tgraph_bot/graphs/graph_modules/utils/annotation_helper.py
  src/tgraph_bot/graphs/graph_modules/utils/utils.py
  tests/conftest.py
  tests/unit/graphs/graph_modules/test_annotation_helper.py
  tests/unit/graphs/graph_modules/test_utils.py
  tests/unit/utils/test_cli_paths.py
Due: extract-strings

refactor(graphs): Improve horizontal stacked bar annotations
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_platform_and_stream_type_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_user_and_stream_type_graph.py
  tests/unit/graphs/graph_modules/test_stream_type_graphs.py
Due: extract-strings

feat: automatically adjust graph y-limits for annotations
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/daily_concurrent_stream_count_by_stream_type_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/daily_play_count_by_stream_type_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/daily_play_count_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_dayofweek_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_hourofday_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_month_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_platform_and_stream_type_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_source_resolution_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_stream_resolution_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/play_count_by_user_and_stream_type_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/top_10_platforms_graph.py
  src/tgraph_bot/graphs/graph_modules/implementations/tautulli/top_10_users_graph.py
  src/tgraph_bot/graphs/graph_modules/utils/annotation_helper.py
  tests/unit/graphs/graph_modules/test_annotation_helper.py
Due: extract-strings

fix(dependencies): update dev dependency versions
  pyproject.toml
  uv.lock
Due: none

build(deps-dev): update development dependency versions
  uv.lock
Due: none

Path conditions:
  extract-strings: any of: \.py$, but not: ^(tests/|__pycache__/)
  update-translations: any of: locale/messages\.pot$
